.btn {
    width: 80px;
    height: 30px;
    padding: 5px;
    margin-top: 20px;
    float: left;
    margin-left: 100px;
    background-color: rgba(62, 184, 78, 0.856);
    border: none;
}

.btn:hover{
    background-color:  #ccc;
}

.img {
    margin-left: 15px;
    width: 48px;
    height: 48px;
    margin-top: 20px;
}

.outer {
    margin-left: 200px;
    border: 2px solid #cccc;
    box-shadow: 2px 3px #cccc;
    width: 400px;
    height: 90px;
    margin-bottom: 20px;
    text-align: center;
}

.enclosing {
    display : flex;
}



.contents {
    display: block;
    margin-left: 20px;
    font-size: smaller;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;

}

@media screen and (max-width: 450px) {
    .outer {
        margin-left: 100px;
        border: 2px solid #cccc;
        box-shadow: 2px 3px #cccc;
        width: 400px;
        height: 90px;
        margin-bottom: 20px;
        text-align: center;
    }
    
}
